<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <script src=@Url.Content("~/Scripts/JS.js")></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    

        <div class="row">
            @{
                Html.RenderAction("Karusel", "Home");
            }

        </div>
 
    <div class="container">
        <div class="row">

            <p>


                @{
                    var re = " ";
                    if (Request.Cookies["userName"] != null && Request.Cookies["userAge"] != null)
                    {
                        re = Request.Cookies["userName"].Value + "  " + Request.Cookies["userAge"].Value;

                    }
                    else { re = "ГОСТЬ"; }
                }
                Привет @re !!!
            </p>
        </div>


        <div class="page-header">
            <h1>KINOpoisk </h1>
        </div>
        </div>


        <div class="container">

            <div class="row">
                <div class="menu">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation">@Html.ActionLink("Саундтреки", "Music", "Home")</li>
                            <li role="presentation">@Html.ActionLink("Комментарий", "Comment", "Home")</li>
                            <li role="presentation">@Html.ActionLink("Комментарии", "Comments", "Home")</li>
                            <li role="presentation">@Html.ActionLink("Все фильмы", "Films", "Home")</li>
                            <li role="presentation">@Html.ActionLink("Фильтровка", "Filters", "Home")</li>
                        </ul>
                    </div>
                </div>




                <div class="col-md-9">

                    @RenderBody()
                </div>

            </div>
        </div>
</body>
</html>
