<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
     <script src=@Url.Content("~/Scripts/JS.js")></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div>
        <p>
           
           
            @{ 
                var re = " ";
                if (Request.Cookies["userName"] != null && Request.Cookies["userAge"] != null)
                {
                    re = Request.Cookies["userName"].Value + "  " + Request.Cookies["userAge"].Value;

                }
                else { re = "ГОСТЬ"; }
           }
           Привет @re !!!
        </p>
    </div>
    
    <div class="a" >
     
        <b><i>Tower of London</i></b>
    </div>

    <div>
        <div id=carousel>
            <figure id=spinner>
                <img src="@Url.Content("~/Content/image/1.jpg")" width="518" height="298" alt="">
                <img src="@Url.Content("~/Content/image/2.jpg")"  width="518" height="298" alt="">
                <img src="@Url.Content("~/Content/image/3.jpg")" width="518" height="298" alt="">
                <img src="@Url.Content("~/Content/image/4.jpg")" width="518" height="298" alt="">
                <img src="@Url.Content("~/Content/image/5.jfif")" width="518" height="298" alt="">
                <img src="@Url.Content("~/Content/image/6.jpg")" width="518" height="298" alt="">
                <img src="@Url.Content("~/Content/image/7.png")" width="518" height="298" alt="">
                <img src="@Url.Content("~/Content/image/8.jpg")" width="518" height="298" alt="">
            </figure>
        </div>
        <span style=float:left class=ss-icon onclick="galleryspin('-')">&lt;</span>
        <span style=float:right class=ss-icon onclick="galleryspin('')">&gt;</span>


    </div>
    <div class="c">
     
 
       <p>@Html.ActionLink("Музыка", "Music", "Home")</p> 
        <p>@Html.ActionLink("Комментарий", "Comment", "Home")</p> 
        <p>@Html.ActionLink("Комментарии", "Comments", "Home")</p> 
        <p>@Html.ActionLink("Все фильмы", "Films", "Home")</p> 
        <p>@Html.ActionLink("Фильтровка", "Filters", "Home")</p> 
      


    </div>

   
    @RenderBody()
        
</body>
</html>
