@model WebApplication1.Models.Movie
@using WebApplication1.Helper

@{
    ViewBag.Title = "AddFilms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddFilm", "Home", FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))

{
    var allGenres = Help.AllGenres;
    var sli = allGenres.Select(x => new SelectListItem
    {
        Value = x.ToString(),
        Text = x.ToString()
    }).ToList();
    <form role="form">
        <div class="row">
            <div>
                <p>
                    <label>Введите название фильма</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

                    @Html.ValidationMessageFor(x => x.Name)
                </p>
                <p><label>Выберите жанр</label> 
                @Html.DropDownListFor(x => x.ganr, sli, new { @class = "form-control" })
                </p>
                <p>
                    <label>Введите год</label>
                    @Html.TextBoxFor(x => x.Produce, new { @class = "form-control" })

                    @Html.ValidationMessageFor(x => x.Produce)
                </p>
                <p>
                    <label>Введите описание</label>
                    @Html.TextBoxFor(x => x.Opisanie, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Opisanie)
                </p>
                <p>

                    <input type="file" name="file" />
                </p>
                <input type="submit" value="Добавить" class="btn btn-default">
            </div>
        </div>
    </form>
        }


