@model List<WebApplication1.Models.Movie>
@{
    ViewBag.Title = "Films";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@foreach (var movie in Model)
{
    <div>
              
       <table class="table table-striped" margin-left:30px  border="0" width="800" cellpadding="8" cellspacing="0">
            <tr>
                <td width="244" >
                    <p>
                        <img src=" ~/Content/image/@movie.Images" width="240" height="150" class="img-rounded" />
                       
                    </p>
                </td>
                <td>
                    <p>
                        Название фильма
                        <b><font size="3">@movie.Name</font> </b>
                    </p>
                    <p>
                        Жанр:
                        <font size="3">@movie.ganr</font>
                    </p>

                    <p>
                        Год создания:
                        <font size="3">@movie.Produce.ToString("yyyy")</font>
                    </p>

                    <p>
                        Описание:
                        <font size="3">@movie.Opisanie</font> 
                    </p>
                    <p>
                        <a href="@Url.Action("Remove", new { IDdel = movie.Id})">
                            Хотите удалить? НАЖМИТЕ!!!
                        </a>
                    </p>
                   
                
                </td>
                
            </tr>
            
        </table>

        </div>




}